<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <title>The Notepad</title>
</head>
<body>
    <h1>The Notepad</h1>
    <div th:if="${not #lists.isEmpty(newsList)}">
        <table>
            <tbody>
            <tr th:each="news : ${newsList}">
                <td th:text="${news.message}">Message</td>
                <td th:text="${news.time}">Time</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/facebook/register}">Register</a>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>